<!-- N A V B A R -->
<div id="nav">
 <a href="#">Paquetes</a>
 <a href="#">Arma tu paquete</a>
 <img id="logo" src="/images/HostingApp/PRANDIUM.png" heigth="150px" width="150px" alt="logo">
 <a href="#">Sobre Nosotros</a>
 <a href="#">Sign Up</a>
</div>
<!-- M A I N   I M A G E -->
<div class="hero-image"> 
  <div class="hero-text">
    <h1>LOGIN</h1>
      <div>
       <form action="/auth/login" method="POST">
         <fieldset class="uk-fieldset">
            <div class="uk-margin">
              <label for="exampleInputEmail1">Email address</label>
              <input  class="uk-input" name = "email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe email">
            </div>
    
            <div class="uk-margin">
              <label for="exampleInputPassword1">Contraseña</label>
              <input class="uk-input" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
    
            <button type="submit" class="btn btn-primary">LOGIN</button>
            <br/>
            <p>No tienes cuenta? Registrate <a href="/auth/signup">AQUÍ</a></p>
          </fieldset>
       </form>
    </div>
  </div>
</div>





s