<!-- N A V B A R -->
<div id="nav">
 <a href="/paquetes/lista">Paquetes</a>
 <a href="/items/lista">Arma tu paquete</a>
 <img id="logo" src="/images/HostingApp/PRANDIUM.png" heigth="150px" width="150px" alt="logo">
 <a href="#">Sobre Nosotros</a>
 <a href="#">Carrito</a>
</div>

<!-- M E N S A J E   D E   A G R E G A D O-->
<h1>ITEM AGREGADO AL CARRITO</h1>