<!-- N A V B A R -->
<div id="nav">
 <a href="/paquetes/lista">Paquetes</a>
 <a href="/items/lista">Arma tu paquete</a>
 <img id="logo" src="/images/HostingApp/PRANDIUM.png" heigth="150px" width="150px" alt="logo">
 <a href="#">Sobre Nosotros</a>
 <a href="#">Carrito</a>
</div>

<!--D I S P L A Y   P A Q U E T E S-->

<h1 class="titulo">PAQUETES</h1>

<div id="paquetes-background">
  <div id="paquetes-wrapper">
  
    {{#each paquetes}}
  
      <div class="paqueteCard uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-animation-slide-left" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img class="card-image" src={{this.imgPath}} alt="imagenPaquete">
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{this.name}}</h3>
                <div class="price-div">
                  <p>{{this.price}} $</p>
                </div>
                <button class="btn detalles"><a class="button-text" href="/paquetes/detallePaquete/{{this._id}}">Detalles</a></button>
                
            </div>
        </div>
      </div>
  
    {{/each}}
  
  
  {{#if esPartner}}

  <div class="button-container">
   
      <a class="button-text2" href="/paquetes/nuevo-paquete"><button class="btn">Crea un Nuevo Paquete</button></a>
    
  </div>

  
   
  {{/if}}
  
  </div>
</div>




