<!--////////////////////////////////////////////////////--->
<!--/////////////////  C H E C K O U T /////////////////--->
<!--////////////////////////////////////////////////////--->




<h1 class="titulo">COMPRA</h1>
<div id ="checkout-container">

  <div id="checkout">

    <img src="/images/HostingApp/card.png" height="100px" alt="ejemploTarjeta">
  
    <form class="uk-grid-small" uk-grid>
      <div class="uk-width-1-2@s">
          <input class="uk-input" type="text" placeholder="Dirección del pedido">
      </div>
       <div class="uk-width-1-4@s">
          <input class="uk-input" type="number" placeholder="Código Postal">
      </div>
      <div class="uk-width-1-4@s">
          <input class="uk-input" type="text" placeholder="Estado">
      </div>
      <div class="uk-width-1-1">
          <input class="uk-input" type="number" placeholder="Número de Tarjeta">
      </div>
      <div class="uk-width-1-2@s">
          <input class="uk-input" type="text" placeholder="Nombre como aparece en tarjeta">
      </div>
      <div class="uk-width-1-4@s">
          <input class="uk-input" type="date" placeholder="Fecha de expiración">
      </div>
      <div class="uk-width-1-4@s">
          <input class="uk-input" type="number" placeholder="Número de seguridad">
      </div>
      <button type="submit" class="btn">Finalizar Compra</button>
    </form>

  </div>

</div>


