<!-- N A V B A R -->
<div id="nav">
 <a href="#">Ordena Ahora</a>
 <a href="#">Promociones</a>
 <img id="logo" src="/images/HostingApp/PRANDIUM.png" heigth="150px" width="150px" alt="logo">
 <a href="#">About</a>
 <a href="#">Sign Up</a>
</div>
<!-- M A I N   I M A G E -->
<div class="hero-image"> 
  <div class="hero-text">
    <h1>TU CENA ESTÁ LISTA</h1>
    <button class="btn">Comienza Aquí</button>
  </div>
</div>


<!-- I N F O   S E C T I O N -->

<div id="info" class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
          <h3 class="uk-card-title">Hover</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
          <h3 class="uk-card-title">Hover</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-hover uk-card-body">
          <h3 class="uk-card-title">Hover</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
</div>

<!-- C A R O U S E L -->


<!-- F O O T E R -->