<!--/////////////////////////////////////////////////////////////////////--->
<!--////////////////////////  I N D E X  ////////////////////////////////--->
<!--/////////////////////////////////////////////////////////////////////--->




<!-- M A I N   I M A G E -->
<div class="hero-image"> 
  <div class="hero-text">
    <h1>TU CENA ESTÁ LISTA</h1>
    <a href="/auth/login"><button class="btn">COMIENZA AQUÍ</button></a>
  </div>
</div>


<!-- I N F O   S E C T I O N -->

<div id="info" class="uk-child-width-1-2@s uk-grid-match" uk-grid>
    <div>
      <div class="uk-card uk-card-hover uk-card-large uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <h3 class="uk-card-title">ENTREGAS A TIEMPO</h3>
          <p>Gracias a que puedes ordenar tus pedidos con anticipación, tu ordén siempre llegará a la hora que deseas.</p>
          <div class="img-container">
            <img class="icon" src="/images/HostingApp/clock.png" alt="clock">
          </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover uk-card-large uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <h3 class="uk-card-title">VARIEDAD DE RESTAURANTES</h3>
          <p>Gracias a que más de un restaurante se registra con nosotros tu puedes encontrar una gran variedad de estilos de cocina.</p>
          <div class="img-container">
            <img class="icon" src="/images/HostingApp/restaurant.png" alt="restaurant">
          </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover uk-card-large uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <h3 class="uk-card-title">PARA CUALQUIER OCASIÓN</h3>
          <p>Tenemos paquetes personalizados para ciertas ocaciones del año.</p>
          <div class="img-container">
            <img class="icon" src="/images/HostingApp/drink.png" alt="drink">
          </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-hover uk-card-large uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
          <h3 class="uk-card-title">VARIEDAD DE PAQUETES</h3>
          <p>La variedad de restaurantes permite que tengamos muchos paquetes a tu disposición.</p>
          <div class="img-container">
            <img class="icon" src="/images/HostingApp/food.png" alt="food">
          </div>
      </div>
    </div>
</div>

<!-- C A R O U S E L -->

<div uk-slideshow="animation: pull">

    <div class="uk-position-relative uk-visible-toggle uk-light">

        <ul class="uk-slideshow-items">
            <li>
                <img src="/images/HostingApp/Harma tu cena.png" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/HostingApp/SERVICIO A DOMICILIO.png" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/HostingApp/ocasiones especiales.png" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

