<!--////////////////////////////////////////////////////////////////--->
<!--//////////////////////  L A Y O U T  ///////////////////////////--->
<!--////////////////////////////////////////////////////////////////--->


<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/css/uikit.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:500" rel="stylesheet">
  </head>
  <body>

    <!--//////////////////////  N A V B A R  ////////////////////////////////--->
    
  <div id="nav">
   <a href="/paquetes/lista">Paquetes</a>
   <a href="/items/lista">Arma tu paquete</a>
   <a href="/"><img id="logo" src="/images/HostingApp/PRANDIUM.png" height="150px" width="150px" alt="logo"></a>
   <a href="/nosotros">Sobre Nosotros</a>
   <a href="/carrito">Carrito</a>
  </div>


    {{{body}}}

  
  <!--//////////////////////  F O O T E R  ///////////////////////////////////-->

   <nav id="footer" class="uk-navbar-container" uk-navbar>
       <div class="uk-navbar-left">
           <ul class="uk-navbar-nav">
               <li class="uk-active"><a href=""></a>©2018 Prandium Corporation. Todos los derechos reservados.</li>
               <img class ="social-logo" src="/images/HostingApp/facebook.png" alt="facebookLogo">
           </ul>
       </div>
   </nav>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.25/js/uikit-icons.min.js"></script>
  </body>
</html>
