<!-- N A V B A R -->

<div id="nav">
 <a href="/paquetes/lista">Paquetes</a>
 <a href="/items/lista">Arma tu paquete</a>
 <img id="logo" src="/images/HostingApp/PRANDIUM.png" heigth="150px" width="150px" alt="logo">
 <a href="#">Sobre Nosotros</a>
 <a href="/paquetes/carrito">Carrito</a>
</div>

<!-- F O R M -->

<div class="hero-image4"> 
  <div class="hero-text">
    <h1>CREA TU ITEM</h1>
    <form action="/items/nuevo-item" method="POST" enctype="multipart/form-data">
      <fieldset class="uk-fieldset">
      
        <div class="uk-margin">
          <label for="name">Nombre del Item</label>
          <input class="uk-input" name = "name" type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre del Item">
        </div>
        <div class="uk-margin">
          <label for="photo">Imagen del Item</label>
          <input class="uk-input" name = "photo" type="file" class="form-control" id="photo" aria-describedby="emailHelp" placeholder="Imagen del Item">
        </div>
        <div class="uk-margin">
          <label for="price">Precio</label>
          <input class="uk-input" name = "price" type="text" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Precio">
        </div>
        <div class="uk-margin">
          <label for="tipo">Tipo(Entrada, Plato Fuerte, Postre, Bebida)</label>
          <input class="uk-input" name = "tipo" type="text" class="form-control" id="tipo" aria-describedby="emailHelp" placeholder="Tipo">
        </div>
        <div class="uk-margin">
          <label for="description">Descripción</label>
          <textarea class="uk-input" name="description" id="description" cols="30" rows="10">Descripción</textarea>
        </div>
      
        <button type="submit" class="btn btn-primary">Crear Item</button>

      </fieldset>
    </form>
    
  </div>
</div>